.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

body,
html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
	background: #e7e7e7;
}

h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	position: relative;
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

h2::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	color: #333;
}

h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-size: 15px;
}

p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}

a {
	color: #8eb640;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #222;
}

ul,
ol {
	list-style: none;
}

ul,
ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	outline-offset: none;
}

.bt-tienda {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 10px;
	color: #000000;
	font-size: 20px;

}

i {
	margin: 0px 7px 0px 7px;
}

.navbar .navbar-nav {
	display: flex;
	float: none;
	vertical-align: top;
	justify-content: center;
	align-items: center;
}





#menu {
	padding: 20px;
	transition: all 0.8s;
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
}

#menu h3 {
	color: rgba(255, 255, 255, 0.678);
	font-size: 15px;
}

#menu.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	color: #eee;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 0 25px 0 25px;
}

#menu.navbar-default .navbar-nav>li>a:hover {
	color: #d43031;
}

.img-team {
	max-width: 100%;
	height: auto;
}

.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 15px 10px !important;
	border-bottom: solid 1px #eaecec73;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #d43031 !important;
	background-color: transparent;
}

.navbar-toggler {
	border-radius: 0;
}

.navbar-default .navbar-toggler:hover,
.navbar-default .navbar-toggler:focus {
	background-color: #d43031;
	border-color: #d43031;
}

.navbar-default .navbar-toggler .icon-bar {
	background-color: #FFF;
}

.navbar-default .navbar-toggler:hover>.icon-bar {
	background-color: #FFF;
}

.ul-bg {
	background-color: #00000000;
	color: white;
	position: fixed;
	z-index: 1000;
	top: 50px;
	transition: 0.5s;
}

.ul-bg li {
	border-bottom: solid 1px #eaecec73;
}


.ul-bg a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 23px 40px;
	/* font-size: calc(1.4rem + 0.6vw); */
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	white-space: nowrap;
	transition: 0.3s;
}

@media (max-width : 768px) {
	.list-collapse {
		display: none;
	}

}

@media (min-width : 868px) {

	.ul-bg {
		display: none;

	}
}


/* Inicio */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/creacion-bicicletas-taller.jpg) center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .overlay {
	background: rgba(0, 0, 0, 0.4);
}

.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}

.intro span {
	color: #a7c44c;
	font-weight: 600;
}

.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}

header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}

/* Especiales*/
#especiales {
	padding: 60px 0;
}

#especiales img {
	margin: 30px auto 20px;
}

#especiales .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

#especiales p {
	line-height: 24px;
	margin: 15px 0 30px;
}

.img-especiales {
	width: 50%;
}

/* Nosotros */
#about {
	padding: 0;
	background: #f6f6f6;
}

#about h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}

#about .about-text {
	padding: 80px 0;
}

#about .about-img {
	background: #444 url(../img/ferreteria.jpg) center center no-repeat;
	background-size: cover;
	height: 570px;
}

#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}

#restaurant-menu .carrd-carrousel {
	width: 300px;
	height: 350px;
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-size: cover;
	display: flex;
	justify-content: center;
	background: white;
}

#restaurant-menu .carrd-carrousel-content {
	padding: 2px 18px;
	position: absolute;
	bottom: 10px;

}

#restaurant-menu .carrd-carrousel-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.567);
	text-align: center;
}

#restaurant-menu .carrd-carrousel-text {
	font-size: 14px;
	color: #878787;
	bottom: 10px;
}

#restaurant-menu .carrd-carrousel-img {
	position: absolute;
	top: 10px;
}

#restaurant-menu .carousel .carousel-cell {
	margin: 50px;
	position: static;
}



#restaurant-menu {
	padding: 100px 0 60px 0;
}



#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}

#restaurant-menu .menu-section hr {
	margin: 0 auto;
}

#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}

#restaurant-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 20px 0;
	text-align: center;
}

#restaurant-menu .menu-item {
	margin: 45px 0;
	font-size: 18px;
}

#restaurant-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}

#restaurant-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
}

#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}

/* Galeria */
#gallery {
	padding: 0;
}

#gallery .gallery-item {
	margin: 0 -12px;
}

.img-gallery {
	width: 100%;
	height: 280px;
}

/*Proveedores*/

#proveedores .carousel .carousel-cell {
	width: 150px;
	display: flex;
	justify-content: center;
	margin: 10px;
}

.img-proovedores {
	width: 100%;
	margin: 30px;
}

.bg-proveedores {
	background: white;
	border-radius: 30px;
}

/* Team Section */
#team {
	padding: 64px 0;
}

#team h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}


#team .team-img {
	display: inline-block;
	position: relative;
}

/* Contactanos */
#contact {
	background: #333;
}

#contact .contact-item p {
	font-size: 15px;
	color: #9d9d9d;
}

#contact .section-title {
	margin-top: 60px;
	margin-bottom: 40px;
}

#contact h3 {
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #e9e9e9;
	padding: 20px 0;
}

#contact h3::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 40px;
	bottom: 0;
	margin-left: -20px;
	left: 50%;
}

#contact h1 {
	position: relative;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
	color: #d43031;
	padding: 20px 0;
}

#contact h1::after {
	position: absolute;
	content: "";
	background: #000000;
	height: 2px;
	width: 140px;
	bottom: 0;
	margin-left: -70px;
	left: 50%;
}

#contact .text-danger {
	color: #cc0033;
	text-align: left;
}

#contact .contact-item {
	margin: 20px 0 40px 0;
}

#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}

#contact li i.fa {
	font-size: 30px;
	color: white;
}

#contact span {
	font-size: 20px;
	margin-left: 16px;
	color: white;
	text-decoration: none;
}

#contact a {
	text-decoration: none;
}

.btn-redes {
	background: red;
	border-radius: 20px;
}

/* Footer Section*/
#footer {
	background: #262626;
	padding: 20px 0 20px 0;
}

#footer .social {
	margin-top: -5px;
	text-align: right;
}

#footer .social ul li {
	display: inline-block;
	margin: 0 15px;
}

#footer .social i.fa {
	font-size: 24px;

	color: #888;
	transition: all 0.3s;
}

#footer .social i.fa:hover {
	color: #eee;
}

#footer p {
	font-size: 14px;
	color: #666;
	margin: 0%;
}

#footer a {
	color: #999;
}

#footer a:hover {
	color: #eee;
}

/*****Whatsap*****/
.whatsapp-icon {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	background: #02C101;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	display: flex;

}

.whatsapp-link i {
	font-size: 30px;
	color: #ffffff;
}



.whatsapp-icon:hover {
	transform: scale(1.1);
	/* Efecto de escala al pasar el ratón por encima */
}